
<div class="block-title">
<h1>Hi ?</h1>
</div>
<div id="container-body">
<div class="image">

  <%= image_tag  "img.jpg" , width: '350px', height: 'auto' %>

</div>
<div class="body-elements">
  <p>L'histoire se déroule dans le Japon médiéval (ère Muromachi). Ashitaka, le prince de la tribu des Emishis, un peuple reclus au nord de Honshū, est frappé d'une malédiction après avoir tué Nago, un dieu sanglier devenu un démon : son bras est animé d'une force surnaturelle mais est rongé par l'entité démoniaque. La chamane du village le dit condamné à mourir et lui conseille de quitter le village afin d'aller chercher à l'ouest la cause de la colère de la nature et l'espoir de trouver la raison de sa malédiction.

Sur le chemin, Ashitaka sauve Jiko au détour d'un coup de main de la guerre civile qui ravage le pays. Moine vagabond très désireux de lui montrer sa gratitude, ce dernier conseille à Ashitaka de se rendre dans la forêt où vivent les esprits de la forêt, animaux gigantesques et doués de parole. Ashitaka découvre ensuite deux hommes originaires du village des forges, dirigé par Dame Eboshi. Ils ont été blessés lors d'une attaque menée par la déesse louve Moro, qui a elle-même été blessée par Dame Eboshi. Ashitaka aperçoit peu après San, la princesse Mononoké, une humaine élevée par Moro. Ashitaka ramène les deux hommes jusqu'au village des forges et est chaleureusement accueilli par les femmes du village. Il rencontre Dame Eboshi, issue de la noblesse et qui a pourtant décidé de sauver des femmes de la condition atroce qu'est la prostitution, à une époque où les droits humains comme animaux n'étaient pas de mise. Femme forte, elle recueille tous les indigents, tels des lépreux à qui elle confie la tâche délicate de maintenir et améliorer l'artillerie du village. En effet, les habitants tirent leur subsistance du sol de la forêt et produisent du fer afin de pouvoir acheter vivres et autres nécessités loin de chez eux. Mais ils doivent déforester pour pouvoir accéder aux minerais, ce qui excède et enrage les dieux de la forêt. Les lépreux fabriquent donc des armes à feu pour lutter contre les esprits de la forêt. Ashitaka apprend ainsi que Dame Eboshi, qui a tiré sur Nago, est responsable de la corruption l'ayant transformé en démon. </p>

</div>
</div>
