
<div class="block-title">
<h1>Hi ?</h1>

<button class="btn-blue" onclick=" window.open('http://google.com','_blank')">ICI</button>
</div>

<div id="container-body">

  <div class="image">

  <%= image_tag  "img2.jpg" , width: '350px', height: '360px' %>

</div>

<div class="body-elements">
  <p>Le Voyage de Chihiro (千と千尋の神隠し, Sen to Chihiro no kamikakushi?, littéralement « Kamikakushi de Sen et Chihiro »)
    est un film d'animation japonais écrit et réalisé par Hayao Miyazaki et produit par le studio Ghibli, sorti en 2001.
<br><br>
Le film raconte l'histoire de Chihiro, une fillette de dix ans qui, alors qu'elle se rend en famille vers sa nouvelle maison, entre dans le monde des esprits.
Après la transformation de ses parents en porcs par la sorcière Yubaba, Chihiro prend un emploi dans l'établissement de bains de Yubaba pour retrouver ses parents et le monde humain.

Miyazaki écrit le scénario en s'inspirant de la fille de son producteur associé Seiji Okuda qui vient lui rendre visite chaque été.
<br><br>
 Il y développe plusieurs thèmes qui lui sont chers, dont l'intégration par le travail collectif, le voyage initiatique, le renouement avec les valeurs ancestrales (notamment le shinto) et le danger de la société moderne pour la nature et les traditions. La production de Chihiro débute en 2000 avec un budget de 19 millions de dollars. La composition de la bande originale du film est confiée à Joe Hisaishi.
<br><br>
Le Voyage de Chihiro est le plus grand succès de l'histoire du cinéma japonais, avec 23 millions de spectateurs au Japon et 274 millions de dollars de recettes dans le monde. Acclamé par la critique internationale, le film est considéré comme l'un des meilleurs des années 2000. Il remporte plusieurs récompenses, dont l'Oscar du meilleur film d'animation et l'Ours d'or du meilleur film de 2002.  </p>

</div>
</div>
