html, body {
height:  100%;
margin: 0;
padding:  0;
}

body {
  display: flex;
  flex-direction: column;
background:  linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.header-landing {

  /* background-color: red; */
}

#container-body {
  flex: 1 0 auto;
display: flex;
  justify-content:  space-around   ;

}

.social-networks {
  flex-shrink: 0;
}


.container {
display:  flex;
justify-content:  space-between;
align-items: center;
/* background-color: #009933 */
}

.nav-items {
  list-style-type: none;
  margin: 0;  padding: 0;
  overflow: hidden;
  height: 50px;

}

.nav-items li {
  float: left;
  color: white;
  padding:  14px 16px;
  text-decoration: none;
}

.nav-items li a{
text-decoration: none;
color: white;
font-family: Open-sans;
}
.nav-items li a:hover {
  /* color: red; */
background-color: black;
  /* wtf ?? */

}

.navbar-left {
  list-style-type: none;
  margin: 0;
  padding:  0;
  overflow: hidden;

  position: fixed;
  top: 0;
   left: 0;
}

.navbar-right {
  list-style-type: none;
  margin: 0;
  padding:  0;
  overflow: hidden;

  position: fixed;
  top: 0;
   right: 0;
}

.navbar-right li {
  display: inline-block;
  padding: 8px;
}

#name {

  color: purple;
}

.avatar {

  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

span {

  font-weight: bold;
  color: red;
  font-family:  Roboto, Montserrat
}

.block-title {
  text-align: center;
}


#container-body {
  /* background-color: brown; */
/* display:  flex;
justify-content: center;
align-content: center; */
/* background-color: #ff9933; */
}

.image {
  margin:  50px 0 0 200px;
/* background-color: blue; */
display: inline-block;
}



.body-elements {
  display: inline-block;

/* background-color: pink; */
width: 800px;
height: 500px;
  /* margin:  50px 250px 0 100px; */
  text-align: justify;
}


.fa {
padding:  10px;
font-size:  30px;
width:  30px;
text-decoration: none;
text-align: center;
border-radius: 50%;

}

.fa:hover {
  opacity:  0.7;
}



/* Set spécific color for each icon */

/* Facebook */
.fa-facebook {
    background: #627AAC;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #76BCF1;
    color: white;
}

/* Google */
.fa-google {
    background: #E36E60;
    color: white;
}

/* Linkedin */
.fa-linkedin {
    background: #3295C3;
    color: white;
}

/* Youtube */
.fa-youtube {
    background: #C83232;
    color: white;
}

/* Style the footer */
.social-items {
  list-style-type: none;
}

.social-items li {
  float: left;
  display: block;
  padding: 8px;
}


a
{
target-name:new;
target-new:tab;
}
