<header class="header-landing">
  <nav class="navbar-left">
    <div class="container">
      <ul class="nav-items">
        <li><span>YoYo</span></li>
        <li> <a href="https://www.youtube.com"></a>Home </li>
        <li> <a href="https://www.youtube.com"></a>About</li>
        <li> <a href="https://www.youtube.com"></a>Contact </li>
      </ul>
      <ul class="navbar-right">
        <li id="name">Ame</li>
        <li>
          <div class="avatar-image">
            <%= image_tag  "logo.jpg" ,alt: 'logo', class: 'avatar' %>

          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
